In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("SparkMisingData").getOrCreate()

24/11/16 21:05:41 WARN Utils: Your hostname, ivan resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/11/16 21:05:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/16 21:05:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv("employee_data.csv",header=True,inferSchema=True)

In [4]:
df.show()

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| NULL|
|       A003|         Jeff|  56|      NULL| NULL|
|       A004|         NULL|NULL|      NULL|   12|
+-----------+-------------+----+----------+-----+

In [5]:
print("Data after dropping the rows having null values")
df.na.drop().show()

Data after dropping the rows having null values
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
+-----------+-------------+---+----------+-----+

In [6]:
print("Data after dropping the rows having atleast 4 non-null values")
df.na.drop(thresh=4).show()

Data after dropping the rows having atleast 4 non-null values
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
|       M002|         Bill| 64|Washington| NULL|
+-----------+-------------+---+----------+-----+

In [7]:
print("Data after dropping the rows having null values in hours column")
df.na.drop(subset="hours").show()

Data after dropping the rows having null values in hours column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       A004|         NULL|NULL|      NULL|   12|
+-----------+-------------+----+----------+-----+

In [8]:
print("Data after filling the rows having null values in hours column")
df.na.fill(12,subset="hours").show()

Data after filling the rows having null values in hours column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington|   12|
|       A003|         Jeff|  56|      NULL|   12|
|       A004|         NULL|NULL|      NULL|   12|
+-----------+-------------+----+----------+-----+

In [9]:
from pyspark.sql.functions import mean #importing the mean function

In [10]:
mean_value = df.select(mean("hours")).collect()[0][0]

In [11]:
#calculating mean value
print("Data after filling the rows having null values in hours column with calculated mean value")
df.na.fill(mean_value,subset="hours").show()

Data after filling the rows having null values in hours column with calculated mean value
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington|   13|
|       A003|         Jeff|  56|      NULL|   13|
|       A004|         NULL|NULL|      NULL|   12|
+-----------+-------------+----+----------+-----+

In [12]:
print("Data after replacing a specific rows value in employee_name column")
df.na.replace("Pichai","Sundar",subset="employee_name").show()

Data after replacing a specific rows value in employee_name column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Sundar|  47|California|   14|
|       M002|         Bill|  64|Washington| NULL|
|       A003|         Jeff|  56|      NULL| NULL|
|       A004|         NULL|NULL|      NULL|   12|
+-----------+-------------+----+----------+-----+