In [3]:
# import SparkSession
from pyspark.sql import SparkSession

In [4]:
# Membuat Spark Session
spark = SparkSession.builder.appName("MyFirstSparkSession").getOrCreate()

24/10/13 20:22:45 WARN Utils: Your hostname, ivan resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/10/13 20:22:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/13 20:22:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
# Membaca data tanpa inferSchema parameter
df = spark.read.csv("employee.csv",header=True)

In [10]:
# Menampilkan dataframe data
df.show()

+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
|       M002|         Bill| 64|Washington|   10|
|       A003|         Jeff| 56|Washington|   11|
|       A004|         Cook| 59|California|   12|
+-----------+-------------+---+----------+-----+

In [19]:
print(df.columns)

['employee_id', 'employee_name', 'age', 'location', 'hours']

In [14]:
# Menampilkan schema datatype tanpa inferSchema
df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- location: string (nullable = true)
 |-- hours: string (nullable = true)

In [17]:
# Membaca data dengan inferSchema parameter
df = spark.read.csv("employee.csv",header=True,inferSchema=True)

In [18]:
# Menampilkan schema datatype dengan inferSchema
df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- hours: integer (nullable = true)

In [13]:
# Menampilkan list of columns 
df.columns

['employee_id', 'employee_name', 'age', 'location', 'hours']