In [2]:
#importing SparkSession
from pyspark.sql import SparkSession

In [3]:
#creating a Spark Session
spark = SparkSession.builder.appName("Rows&Columns").getOrCreate()

24/10/13 21:50:03 WARN Utils: Your hostname, ivan resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/10/13 21:50:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/13 21:50:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/13 21:50:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
#reading csv data
df = spark.read.csv("employee.csv",header=True,inferSchema=True)

In [5]:
#displaying the data
df.show()

+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
|       M002|         Bill| 64|Washington|   10|
|       A003|         Jeff| 56|Washington|   11|
|       A004|         Cook| 59|California|   12|
+-----------+-------------+---+----------+-----+

24/10/13 21:50:20 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [9]:
#accessing the column object age via dataframe
df["age"] 
print("Single Column Data")

Single Column Data

In [10]:
#accessing single column using select, returns a dataframe
df.select("age").show() 
print("Multiple Column Data")

+---+
|age|
+---+
| 47|
| 64|
| 56|
| 59|
+---+

Multiple Column Data

In [11]:
#accessing multiple column using 
df.select(["employee_name","age"]).show()

+-------------+---+
|employee_name|age|
+-------------+---+
|       Pichai| 47|
|         Bill| 64|
|         Jeff| 56|
|         Cook| 59|
+-------------+---+

In [12]:
#Adding a new column from existing one with some operation
df_new = df.withColumn("productive_hours",df["hours"]-3)

In [14]:
df_new.show()

+-----------+-------------+---+----------+-----+----------------+
|employee_id|employee_name|age|  location|hours|productive_hours|
+-----------+-------------+---+----------+-----+----------------+
|       G001|       Pichai| 47|California|   14|              11|
|       M002|         Bill| 64|Washington|   10|               7|
|       A003|         Jeff| 56|Washington|   11|               8|
|       A004|         Cook| 59|California|   12|               9|
+-----------+-------------+---+----------+-----+----------------+

In [13]:
#Renamed hours to working_hours
df_renamed = df_new.withColumnRenamed("hours","working_hours")

In [15]:
df_renamed.show()

+-----------+-------------+---+----------+-------------+----------------+
|employee_id|employee_name|age|  location|working_hours|productive_hours|
+-----------+-------------+---+----------+-------------+----------------+
|       G001|       Pichai| 47|California|           14|              11|
|       M002|         Bill| 64|Washington|           10|               7|
|       A003|         Jeff| 56|Washington|           11|               8|
|       A004|         Cook| 59|California|           12|               9|
+-----------+-------------+---+----------+-------------+----------------+

In [16]:
df_final = df_renamed.drop("location") 
print("Data with the new column productive_hours, hours Column Renamed to working_hours and dropped the location column")

Data with the new column productive_hours, hours Column Renamed to working_hours and dropped the location column

In [17]:
df_final.show()
print("First three Data points\n")

+-----------+-------------+---+-------------+----------------+
|employee_id|employee_name|age|working_hours|productive_hours|
+-----------+-------------+---+-------------+----------------+
|       G001|       Pichai| 47|           14|              11|
|       M002|         Bill| 64|           10|               7|
|       A003|         Jeff| 56|           11|               8|
|       A004|         Cook| 59|           12|               9|
+-----------+-------------+---+-------------+----------------+

First three Data points

In [12]:
#Fetching the list of the first 3 values in the dataframe
print(df_final.head(3))

[Row(employee_id='G001', employee_name='Pichai', age=47, working_hours=14, productive_hours=11), Row(employee_id='M002', employee_name='Bill', age=64, working_hours=10, productive_hours=7), Row(employee_id='A003', employee_name='Jeff', age=56, working_hours=11, productive_hours=8)]

In [13]:
print("\nSummary of Age, Working hours and Productive hours")

Summary of Age, Working hours and Productive hours

In [14]:
summary_data = df_final.select(["age","working_hours","productive_hours"])

In [15]:
summary_data.describe().show()

+-------+----------------+-----------------+-----------------+
|summary|             age|    working_hours| productive_hours|
+-------+----------------+-----------------+-----------------+
|  count|               4|                4|                4|
|   mean|            56.5|            11.75|             8.75|
| stddev|7.14142842854285|1.707825127659933|1.707825127659933|
|    min|              47|               10|                7|
|    max|              64|               14|               11|
+-------+----------------+-----------------+-----------------+