In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("SparkFilters").getOrCreate()

24/10/15 11:54:47 WARN Utils: Your hostname, ivan resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/10/15 11:54:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/15 11:54:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/15 11:54:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/10/15 11:54:49 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/10/15 11:54:49 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/10/15 11:55:03 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
df = spark.read.csv("items_bought.csv",header=True,inferSchema=True)

In [4]:
df.show()

+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|11-10-2018|     Beer|     110.5|       2|     53.04|      163.54|
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
|05-10-2018|      Rum|     550.0|       2|     264.0|       814.0|
|07-05-2019|      Rum|     555.0|       2|     266.4|       821.4|
|06-10-2020|      Rum|     590.0|       3|     424.8|      1014.8|
|22-03-2020|      Gin|     400.0|       1|      96.0|       496.0|
|11-10-2019|     Beer|     130.0|       4|     124.8|       254.8|
|14-02-2020|    Vodka|     750.0|       2|     360.0|      1110.0|
+----------+---------+----------+--------+----------+------------+

In [5]:
df.show(4)

+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|11-10-2018|     Beer|     110.5|       2|     53.04|      163.54|
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
|05-10-2018|      Rum|     550.0|       2|     264.0|       814.0|
+----------+---------+----------+--------+----------+------------+
only showing top 4 rows

In [6]:
print("Result after filtering total_amount greater than 1500")
df.filter("total_amount>1500").show() #filtering based on SQL type syntax

Result after filtering total_amount greater than 1500
+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+

In [7]:
print("Result after filtering based on item_price and tax_amount")
df.filter((df["item_price"]>1000)&(df["tax_amount"]>500)).show() #filtering based on multiple column conditions

Result after filtering based on item_price and tax_amount
+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+

In [8]:
result_data = df.filter((df["total_amount"]==1924.74)).collect() #collecting the record based on a condition
resulting_date = result_data[0]["date"] #fetching data from the collected result

In [9]:
print("The collected data point's date value is "+resulting_date)
result_data[0].asDict() #converting the result to a dictionary

The collected data point's date value is 23-03-2020

{'date': '23-03-2020',
 'item_name': 'Whisky',
 'item_price': 1300.5,
 'quantity': 2,
 'tax_amount': 624.24,
 'total_amount': 1924.74}