In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('SparkGroupBy&Agg').getOrCreate()

In [6]:
df = spark.read.csv("company_product_revenue.csv",header=True,inferSchema=True)

In [7]:
df.show(4)

+-------------+------------+-------------+
| company_name|product_name|revenue_sales|
+-------------+------------+-------------+
|         Audi|          A4|          450|
|Mercedes Benz|     G Class|         1200|
|          BMW|          X1|          425|
|     Mahindra|     XUV 500|          850|
+-------------+------------+-------------+
only showing top 4 rows

In [10]:
print("Total revenue_sales per company")

Total revenue_sales per company

In [11]:
df.groupBy("company_name").sum().show()

+-------------+------------------+
| company_name|sum(revenue_sales)|
+-------------+------------------+
|          Kia|              1140|
|         Audi|              2275|
|     Mahindra|              1640|
|          BMW|              1975|
|Mercedes Benz|              2570|
+-------------+------------------+

In [12]:
print("Total revenue_sales for the entire data")

df.agg({"revenue_sales":"sum"}).show()

Total revenue_sales for the entire data
+------------------+
|sum(revenue_sales)|
+------------------+
|              9600|
+------------------+

In [13]:
print("Max revenue_sales value per company")
df.groupBy("company_name").agg({"revenue_sales":"max"}).show()

Max revenue_sales value per company
+-------------+------------------+
| company_name|max(revenue_sales)|
+-------------+------------------+
|          Kia|               690|
|         Audi|               725|
|     Mahindra|               850|
|          BMW|               850|
|Mercedes Benz|              1200|
+-------------+------------------+

In [14]:
print("Ordering the data based on the revenue_sales in ascending order")
df.orderBy("revenue_sales").show(5)

Ordering the data based on the revenue_sales in ascending order
+-------------+------------+-------------+
| company_name|product_name|revenue_sales|
+-------------+------------+-------------+
|          BMW|          X1|          425|
|         Audi|          A4|          450|
|          Kia|    Carnival|          450|
|Mercedes Benz|     C Class|          470|
|         Audi|          Q7|          500|
+-------------+------------+-------------+
only showing top 5 rows

In [15]:
print("Ordering the data based on the revenue_sales in descending order")
df.orderBy(df["revenue_sales"].desc()).show(5)

Ordering the data based on the revenue_sales in descending order
+-------------+------------+-------------+
| company_name|product_name|revenue_sales|
+-------------+------------+-------------+
|Mercedes Benz|     G Class|         1200|
|Mercedes Benz|         GLS|          900|
|     Mahindra|     XUV 500|          850|
|          BMW|          X5|          850|
|     Mahindra|     XUV 300|          790|
+-------------+------------+-------------+
only showing top 5 rows